<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table mt-4 table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sueldo</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>10,000</td>
                    <td class="Fila">
                        <button class="btn btn-primary btn-sm mr-2">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>

                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>15,000</td>
                    <td class="Fila">
                        <button class="btn btn-primary btn-sm mr-2">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>25,000</td>
                    <td class="Fila">
                        <button class="btn btn-primary btn-sm mr-2">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
